/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: rgb(0, 0, 0);
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 5px 25px;
  font-size: 20px;
  margin: 0;
  color: #ffffff;
}

h1 {
  font-family: font-family: 'Pacifico', cursive;
  font-size: 45px;
}
p {
  margin-top: 100px;
  margin-bottom: 300px
  margin-right: 50px
  margin-left: 75px
  background-position: position;

    border-style: dotted;
    border-width:10px;
    border-color: #3100ff;
  }
}
table, th, td {
  border: 1px solid black;
}



